<p style="text-align:center;"><span style="font-size:80px;"><span style="color:navy"><span style="font-family:cursive;"><span style="font-weight:1000">Hi Everybody üëã</span></span></span></span></p>

<img src='https://i.postimg.cc/nLrB2Szm/BANNER-IMAGE-1-1520-X560.jpg'>

<div style="border-radius:10px; padding: 15px; background-color: #e3e6fa; text-align:left; font-size:120%">

<h4 align="left"><span style="font-weight:700; font-size:160%"><font color=#d10202>Description:</font></span></h4>

<a id="1"></a>
<h1><b><p style="background-image: url(https://i.postimg.cc/0Qwf8YX6/2927262.jpg);font-family:camtasia;font-size:110%;color:white;text-align:center;border-radius:15px 50px; padding:7px; border:solid 2px #09375b; box-shadow: 10px 10px 10px #042b4c"> Table Of Content</p></b></h1>

<a id="content"></a>    
<div style="border-radius:20px; padding: 15px; background-color: #f0f2fa; font-size:100%; text-align:left">

<h2><span style="text-align:center; font-weight:bolder; color:navy">Table of Contents:</span></h2>

 * **[Step 1 | Python Libraries](#setup)**
    -  [1.1 | Import Libraries](#import)
    -  [1.2 | Library configurations](#config)
 *  **[Step 2 | Data](#data)**
    -  [2.1 | Collecting Data](#load_data)
    -  [2.2 | Data Information](#info)
    -  [2.3 | Columns Describtion](#columns)
 *  **[Step 3 | Data Preprocessning](#preprocessing)**
    -  [3.1 | Missing Values Handling](#missing)
    -  [3.2 | Visualization and Plots](#plot)
    -  [3.3 | Missing Values](#missing)
 *  **[Step 4 | Macine Learning](#ml)**
    -  [4.1 | Initializations](#init)
    -  [4.2 | Normalization](#normalize)
    -  [4.3 | LogisticRegression](#lr)
    -  [4.4 | SVC](#svc)
    -  [4.5 | DecisionTreeClassifier](#tree)
    -  [4.6 | KNeighborsClassifier](#knn)
    -  [4.7 | RandomForestClassifier](#rf)
    -  [4.8 | result](#result)
 *  **[Author](#author)**

<a id="setup"></a>
<h1><b><p style="background-image: url(https://i.postimg.cc/0Qwf8YX6/2927262.jpg);font-family:camtasia;font-size:110%;color:white;text-align:center;border-radius:15px 50px; padding:7px; border:solid 2px #09375b; box-shadow: 10px 10px 10px #042b4c">Step1 | Python Libraries</p></b></h1>

[üè† Tabel of Contents](#content)

<a id="import"></a>
<h2><b><span style="color:#0266b7">Step 1.1 | </span><span style="color:#ff6200">Import Libraries</span></b>

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

################### Sklearn ####################################

<a id="config"></a>
<h2><b><span style="color:#0266b7">Step 1.2 | </span><span style="color:#ff6200">Library configurations</span></b></h2>

In [4]:
pd.options.mode.copy_on_write = True # Allow re-write on variable
sns.set_style('darkgrid') # Seaborn style
warnings.filterwarnings('ignore') # Ignore warnings
pd.set_option('display.max_columns', None) # Setting this option will print all collumns of a dataframe
pd.set_option('display.max_colwidth', None) # Setting this option will print all of the data in a feature

<a id="data"></a>
<h1><b><p style="background-image: url(https://i.postimg.cc/0Qwf8YX6/2927262.jpg);font-family:camtasia;font-size:110%;color:white;text-align:center;border-radius:15px 50px; padding:7px; border:solid 2px #09375b; box-shadow: 10px 10px 10px #042b4c">Step 2 | Data</p></b></h1>

[üè† Tabel of Contents](#content)

<a id="load_data"></a>
<h2><b><span style="color:#0266b7">Step 2.1 | </span><span style="color:#ff6200">Collecting Data</span></b></h2>

In [6]:
data = pd.read_csv('healthcare-dataset-stroke-data.csv')
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

<a id="info"></a>
<h2><b><span style="color:#0266b7">Step 2.2 | </span><span style="color:#ff6200">Data Informations</span></b></h2>

In [7]:
# Drop column = 'id'
data.drop(columns='id', inplace=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [12]:
round(data.describe(include='all'), 2)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,5110,5110.00,5110.0,5110.00,5110,5110,5110,5110.00,4909.00,5110,5110.00
unique,3,NaN,NaN,NaN,2,5,2,NaN,NaN,4,NaN
top,Female,NaN,NaN,NaN,Yes,Private,Urban,NaN,NaN,never smoked,NaN
freq,2994,NaN,NaN,NaN,3353,2925,2596,NaN,NaN,1892,NaN
mean,NaN,43.23,0.1,0.05,NaN,NaN,NaN,106.15,28.89,NaN,0.05
std,NaN,22.61,0.3,0.23,NaN,NaN,NaN,45.28,7.85,NaN,0.22
min,NaN,0.08,0.0,0.00,NaN,NaN,NaN,55.12,10.30,NaN,0.00
25%,NaN,25.00,0.0,0.00,NaN,NaN,NaN,77.24,23.50,NaN,0.00
50%,NaN,45.00,0.0,0.00,NaN,NaN,NaN,91.88,28.10,NaN,0.00
75%,NaN,61.00,0.0,0.00,NaN,NaN,NaN,114.09,33.10,NaN,0.00
max,NaN,82.00,1.0,1.00,NaN,NaN,NaN,271.74,97.60,NaN,1.00

<a id="columns"></a>
<h2><b><span style="color:#0266b7">Step 2.3 | </span><span style="color:#ff6200">Columns Describtion</span></b></h2>

<div>
    <h2>Healthcare Dataset Stroke</h2>
    <h4>Columns Describtion :</h4>
    <center>

|Feature|Describtion|
|:-----:|:---------:|
|gender|Gender of samples(male/female)|
|age|Age of samples|
|hypertension|Does the sample have a blood pressure problem?|
|heart_disease|Does the sample have heart desease?|
|ever_married|Has the sample ever been married?|
|work_type|What is the type of sample work?|
|Residence_type|Where the sample live?(urban/rural)|
|avg_glucose_level|What is the average of glucose level of sample blood?|
|bmi|Body Mass Index (BMI)|
|smoking_status|Does the sample smoke?|
|stroke|Has the sample had a stroke?|

    </center>
    
</div>

<a id="preprocessing"></a>
<h1><b><p style="background-image: url(https://i.postimg.cc/0Qwf8YX6/2927262.jpg);font-family:camtasia;font-size:110%;color:white;text-align:center;border-radius:15px 50px; padding:7px; border:solid 2px #09375b; box-shadow: 10px 10px 10px #042b4c">Step 3 | Data Preprocessning</p></b></h1>

[üè† Tabel of Contents](#content)

<a id="missing"></a>
<h2><b><span style="color:#0266b7">Step 3.1 | </span><span style="color:#ff6200">Missing Values Handling</span></b></h2>

<a id="author"></a>    
<div style="border-radius:10px; padding: 15px; background-color: #f0f2fa; font-size:130%; text-align:left">

<h4 align="left"><span style="font-weight:700; font-size:130%"><font color=#d10202>Author:</font><font color=navy> Nima Pourmoradi</font></span></h4>
<h6 align="left"><font color=#ff6200><a href='https://github.com/NimaPourmoradi'>github: https://github.com/NimaPourmoradi</font></h6>
<h6 align="left"><font color=#ff6200><a href='https://www.kaggle.com/nimapourmoradi'>kaggle : https://www.kaggle.com/nimapourmoradi</a></font></h6>
<h6 align="left"><font color=#ff6200><a href='https://www.linkedin.com/in/nima-pourmoradi-081949288/'>linkedin : www.linkedin.com/in/nima-pourmoradi</a></font></h6>